

 <h1> Abuela Sorda  </h1>
 
 
<h1> Di algo abuela </h1>
<form action="/abuela" method="get">
	<input type="text"  name="valor" >

  <input type="submit" value="dilo">



</form>







